@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext,cyrillic);      /*font-family: 'Lobster', cursive;*/
@import url(http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,latin-ext,cyrillic); /*font-family: 'Marck Script', cursive;*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700); /*font-family: "Lato", Calibri, Arial, sans-serif;*/


input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    -webkit-appearance: none;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}


* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
    font-family: "Lato", Calibri, Arial, sans-serif;
    background: #ddd url(../images/bg.jpg) repeat top left;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

a:hover, a:active {
    outline: 0;
    text-decoration: none;
}

img {
	border: none;
}

h1{
	font-size: 50px;
	line-height: 58px;
	font-weight: 300;
	color: #666;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
	font-weight: bold;
	font-stretch: extra-condensed;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

#header {
    background: #222;
    height: 50px;
    width: 100%;
    border-color: #080808;
    border-width: 0 0 1px;
}

.headerWrap {
    width: 1000px;
    margin: 0 auto;
    height: 50px;
}


.logo {
    font-size: 36px;
    line-height: 50px;
    font-weight: 300;
    color: #f5f5f5;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    font-weight: bold;
    font-stretch: extra-condensed;
    font-family: 'Marck Script', cursive;
    float: left;
}

.rightPanel {
    float: right;
}

.rightPanel ul {

}

.rightPanel ul li {
    display: inline-block;
    float: left;

}

.rightPanel ul li span {
    display: inline-block;
    float: left;
    color: #999;
    margin: 12px 10px 0 0;
    font-size: 18px;
}

.rightPanel ul li a {
    display: inline-block;
    height: 50px;
    opacity: 0.5;
}

.rightPanel ul li a:hover {
    display: inline-block;
    height: 50px;
    background: #000;
    opacity: 1;
}


#wrapper {
    width: 1000px;
    height: 450px;
    background: #f8f8f8;
    background: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.4);
    overflow: auto;
    margin: 50px auto;

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.eventList {
    font-family: 'Marck Script', cursive;
    overflow: auto;
    overflow-x: hidden;
    float: left;
    font-size: 20px;
    margin-left: -200px;
    margin-top: 30px;
    height: 420px;
    width: 200px;
    display: block;
    background: #f0f0f0;
    background: rgba(0,0,0,0.06);
    x-border: 1px solid rgba(0,0,0,0.1);
    x-box-shadow: inset 0 2px 10px rgba(0,0,0,0.1);
}

.eventList li {
    padding: 10px 0px 10px 20px;
}

.eventList li:hover{
    background: rgba(0,0,0,0.09);
}

.dateTime {
    color: #53A7EA;
    font-size: 16px;
}

.content {
    float: left;
}

#area {
    font-family: 'Marck Script', cursive;
    font-size: 20px;
    width: 600px;
    height: 360px;
    padding: 20px;
    background: transparent;
    border: none;
}

#area:focus {
    outline: none;
    border: none;
}

#tittleEvent {
    margin-top: 5px;
    margin-left: 10px;
    display: block;
    border: none;
    color: #333;
    font-size: 20px;
    background: transparent;
    padding: 5px 2px 0 2px;
    float: left;
    font-family: 'Marck Script', cursive;
}

#tittleEvent:focus {
    outline: none;
    border-bottom: 1px solid #51CBEE;
}

#tittleEvent:hover {
    border-bottom: 1px solid #f29797;
}

.btn {
    font-family: 'Marck Script', cursive;
    display: inline-block;
    width: 200px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background: #97CAF2;
    transition: all 0.3s ease-out;
    text-decoration: none;
    font-weight: bold;
    color: white;
    float: left;
}

.btn:hover   { background: #53A7EA; }


.btnpanels {
    font-family: 'Marck Script', cursive;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 15px;
    text-align:center;
    background: #97CAF2;
    transition: all 0.3s ease-out;
    text-decoration: none;
    font-weight: bold;
    color: white;
    float: right;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

.btnpanels:hover   { background: #53A7EA; }

.btnpanels2 {
    font-family: 'Marck Script', cursive;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 15px;
    text-align:center;
    background: #f29797;
    transition: all 0.3s ease-out;
    text-decoration: none;
    font-weight: bold;
    color: white;
    float: right;
    margin-right: 10px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

.btnpanels2:hover   { background: #ea5e53; }


.rightBar {
    overflow: auto;
    overflow-x: hidden;
    float: right;
    height: 450px;
    width: 150px;
    display: block;
    background: #f0f0f0;
    background: rgba(0,0,0,0.4);
    text-align: center;
}

.rightBar p {
    font-size: 15px;
    font-family: 'Marck Script', cursive;
    color: #fff;
}

#FileValue {
    width: 100px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background: #f8f8f8;
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(0,0,0,0.1);
}

.rightBar input[type="submit"] {
    background-color: #97CAF2;
    color: #fff;
    display: block;
    margin: 10px auto;
    height: 24px;
    line-height: 24px;
    width: 100px;
    cursor:pointer;
    font-family: 'Marck Script', cursive;
}

.rightBar input[type="submit"]:hover {
    background-color: #51CBEE;
}



.file_upload {
    position: relative;
    overflow: hidden;
    background: #eee;
    border: 1px solid #ccc;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    padding: 1px;
    width: 10px;
    background-color: #97CAF2;
    color: #fff;
}

.file_upload input[type=file] {
    position: absolute;
    top: 0; right: 0;
    font-size: 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}


.rightBarlist {
    overflow: auto;
    overflow-x: hidden;
    height: 240px;
    width: 180px;
    display: block;
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-family: 'Marck Script', cursive;
}

.rightBarlist li {
    padding: 10px 0px 10px 10px;
}

.rightBarlist li:hover{
    background: rgba(0,0,0,0.09);
}

.fileclass {
    background: #97CAF2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.delfile {
    position: absolute;
    margin-top: -42px;
    margin-left: 120px;
    display: block;
    opacity: 0.5;
}

.delfile:hover {
    opacity: 1;
}

/*CreateEvent*/

.text {
    width: 1200px;
    margin: 0 auto;
}

.CreateArea {
    width: 1180px;
    height: 400px;
    padding: 10px;
    font-size: 14px;
    background: #f8f8f8;
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(0,0,0,0.1);
    /*border-top: none;
    border-bottom-color: rgba(255,255,255,0.4);*/
}

.CreateInput {
    width: 400px;
    height: 30px;
    padding: 2px;
    font-size: 14px;
    background: #f8f8f8;
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(0,0,0,0.1);
   /* border-top: none;
    border-bottom-color: rgba(255,255,255,0.4);*/
}



@media all and (max-width: 1200px){
    .area{width: 728px;}
    .title { width: 748px;}
    .rightbar { width: 750px;}
    #wrapper {width: 1000px;}
    .CreateArea {width: 980px;}
    .text {width: 1000px;}
}


/*--login--*/

#wrap {
    width: 1000px;
    margin: 10px auto;
}

.LoginBody {
    margin: 100px auto;
    width: 900px;
    background: #f8f8f8;
    background: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.4);
    overflow: auto;
    height: 400px;



    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.description {
    float: left;
    width: 460px;
    padding: 20px;
    padding-top: 80px;
}

.descr {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    width: 430px;
}

.description h1 {
    font-size: 30px;
    font-family: 'Marck Script', cursive;
}

.description p {
    font-size: 20px;
    font-family: 'Marck Script', cursive;
    width: 380px;
}

.loginForm {
    float: right;
    width: 370px;
    font-family: 'Marck Script', cursive;
    padding-top: 100px;
}

.li {
    width: 300px;
    height: 45px;
    padding: 2px;
    font-size: 20px;
    display: block;
    border: none;
    color: #333;
    background: transparent;
    border-bottom: 1px dotted black;
    padding: 5px 2px 0 2px;

    font-family: 'Marck Script', cursive;
}

.li:focus {
    outline: none;
    border-color: #51CBEE;
}


.formMain {
    width: 300px;
}

.loginForm input[type="submit"] {
    background-color: #97CAF2;
    color: #fff;
    display: block;
    margin: 10px auto;
    padding: 4px 0;
    width: 100px;
    cursor:pointer;
}

.loginForm input[type="submit"]:hover {
    background-color: #51CBEE;
}

.registr {
    background-color: #97CAF2;
    color: #fff;
    display: block;
    padding: 4px 0;
    width: 150px;
    font-size: 20px;
    height: 25px;
    margin-left: 100px;
    margin-top: 30px;
    text-align: center;
    font-family: 'Marck Script', cursive;
}


.registr:hover {
    background-color: #51CBEE;
}

/*--CreateEvent--*/

.CreateEventBody {
    margin: 50px auto;
    width: 960px;
    background: #f8f8f8;
    background: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.4);
    overflow: auto;
    height: 510px;
    padding: 20px;

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.CreateEventBody p {
    font-family: 'Marck Script', cursive;
    font-size: 20px;
    color: #838383;
}

.CreateEventBody h1 {
    float: right;
    font-family: 'Marck Script', cursive;
}

.CreateArea {
    width: 940px;
    height: 340px;
    padding: 10px;
    font-size: 14px;
    background: #f8f8f8;
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(0,0,0,0.1);
    font-family:arial;
}

.CreateInput {
    width: 400px;
    height: 30px;
    padding: 2px;
    font-size: 14px;
    background: #f8f8f8;
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 20px;
    font-family:arial;
}

.CreateEventBody input[type="submit"] {
    background-color: #97CAF2;
    color: #fff;
    display: block;
    margin: 10px auto;
    padding: 4px 0;
    width: 150px;
    cursor:pointer;
    float: right;
    font-size: 20px;
    font-family: 'Marck Script', cursive;
}

.CreateEventBody input[type="submit"]:hover {
    background-color: #51CBEE;
}

/*--Registration--*/

.RegistrationBody {
    margin: 100px auto;
    width: 900px;
    background: #f8f8f8;
    background: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.4);
    overflow: auto;
    height: 400px;
    font-family: 'Marck Script', cursive;
    padding: 20px;


    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.RegistrationBody p {
    font-size: 20px;
    color: #838383;
}

.RegistrationBody h1 {
    float: right;
}
.RegistrationBody h2 {
    font-size: 35px;
    line-height: 43px;
    font-weight: 300;
    color: #666;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    font-weight: bold;
    font-stretch: extra-condensed;
    text-align: center;
    margin-top: 50px;
}

.RegistrationForm {
    width: 300px;
    margin: 0 auto;
}

.RegistrationForm a {
    background-color: #97CAF2;
    color: #fff;
    display: block;
    margin: 10px auto;
    padding: 4px 0;
    width: 150px;
    cursor:pointer;
}

.RegistrationForm a:hover {
    background-color: #51CBEE;
}

.errorRegForm {
    font-size: 16px;
    color: #c82d1d;

}